.categories {
  background-color: $bg-grey;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 25px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 1338px auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -2px;
    margin-top: -65px;
    border-top: 1px solid $color-grey;
    margin-bottom: 36px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: cover;
    }

    &::after {
      position: absolute;
      content: "";
      min-width: 100%;
      height: 21px;
      background-image: url("../../img/bg-zigzag-fill.svg");
      background-position: bottom;
      background-size: contain;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero-desktop@1x.jpg");
    margin-bottom: 118px;
    margin-top: -63px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.categories__title {
  @include font-size(27px, 30px, 700);

  margin: 0;
  padding: 70px 35px 94px;
  text-align: center;


  @media (min-width: $tablet-width) {
    @include font-size(43px, 50px, 700);
    padding: 160px 132px 367px 135px;
  }

  @media (min-width: $desktop-width) {
    @include font-size(53px, 50px, 700);
    padding-left: 151px;
  }
}

.categories__list {
  @include list-unstyled();
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 50px;
    box-sizing: border-box;
  }
}

.categories__item {
  position: relative;
  height: 103px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 128px;
  }
}

.categories__link--interior {
  background-color: $color-lightblue;
}

.categories__link--toy {
  background-color: $color-darkblue;
}

.categories__link {
  @include font-size(19px, 24px, 700);
  color: $color-white;
  text-decoration: none;
  position: absolute;
  display: flex;
  padding: 25px 13px 30px;
  width: 100%;
  box-sizing: border-box;
  height: 103px;
  bottom: 0;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    height: 108px;
  }

  &:hover .categories__icon {
    fill: $fill-icon-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active .categories__icon {
    fill: rgba(20, 144, 128, 0.3);
  }

  @media (min-width: $tablet-width) {
    height: 128px;
    padding: 15px 35px 25px;

    &:hover {
      height: 133px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 7px 42px 25px;
  }
}

.categories__icon {
  position: absolute;
  top: 19px;
  right: 8%;
  fill: $fill-icon;

  @media (min-width: $tablet-width) {
    top: 29px;
    right: 11%;
  }

  @media (min-width: $desktop-width) {
    right: 6%;
  }
}

.categories__icon--toy {
  right: 5%;

  @media (min-width: $tablet-width) {
    right: 11%;
  }

  @media (min-width: $desktop-width) {
    right: 4%;
  }
}
