.contacts {
  position: relative;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 47px;
      height: 82px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: -25px;
      right: 54px;

      @media (min-width: $desktop-width) {
        left: 71px;
        top: 112px;
        right: auto;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    min-height: 525px;
    margin: 0 auto 37px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.contacts__title {
  @include font-size(18px, 30px, 700);

  width: 260px;
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    width: 668px;
    font-size: 43px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    @include font-size(53px, 57px, 700);
    text-align: left;
    margin: 71px 0 48px 175px;
  }
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    margin: 0 0 0 175px;
  }
}

.contacts__table {
  @include font-size(15px, 30px, 400);

  color: #444444;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.contacts__table tbody {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__table td {
  min-width: 78px;
  vertical-align: top;
  margin-bottom: 35px;
}

.contacts__email a {
  text-decoration: none;
  color: #444444;
  display: block;
  border-bottom: 1px solid $color-lightblue;

  &:hover {
    color: $color-lightblue;
  }

  &:active {
    color: $color-lightblue-active;
    border-bottom: 1px solid $color-lightblue-active;
  }
}

.contacts__email-row {
  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.contacts__address-row {
  @media (min-width: $tablet-width) {
    margin-left: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.contacts__address-row td {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.contacts__map-wrapper {
  width: calc(100vw - 17px);
  height: 457px;
  margin-bottom: 33px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 525px;
    height: 460px;
    right: 0;
    background-image: url("../img/map-desktop@1x.jpg");
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
  border: 0;
}

.contacts__write {
  width: 228px;
  padding: 14px;

  @media (min-width: $tablet-width) {
    width: 198px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
