.footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer {
    width: 768px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 1150px;
  }
}
