.footer {
  background-color: $bg-lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (min-width: $tablet-width) {
    padding: 30px 50px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
