body {
  background: $color-white;
  color: $color-black;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    padding-top: 80px;
  }
}
