.social {
  width: 150px;
  padding: 25px 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 55px 25px 147px;
  }
}

.social__list {
  @include list-unstyled();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  &:hover .social__icon {
    fill: #46c1ae;
  }

  &:active .social__icon {
    fill: rgba(70, 193, 174, 0.3);
  }
}
