$font-base: "Open Sans", "Arial", sans-serif;
$bg-lightgrey: #f1f1f1;
$bg-grey: #fafafa;
$white: #ffffff;
$black: #000000;
$bg-lightblue: #63d1bb;
$bg-darkblue: #56c3b2;
$tablet-width: 768px;
$desktop-width: 1200px;
