$font-base: "Open Sans", "Arial", sans-serif;
$bg-lightgrey: #f1f1f1;
$bg-grey: #fafafa;
$color-white: #ffffff;
$color-black: #000000;
$color-black-hover: rgba($color-black, 0.6);
$color-black-active: rgba($color-black, 0.3);
$color-grey: #ececec;
$fill-grey: rgba($color-black, 0.2);
$color-lightblue: #63d1bb;
$color-lightblue-active: rgba(99, 209, 187, 0.3);
$color-darkblue: #56c3b2;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
$fill-icon: rgba(20, 144, 128, 0.5);
$fill-icon-hover: rgba(20, 144, 128, 0.7);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
